 
body {
    text-shadow: #000 0px 0px 1px;
    text-align: center;
   	background-image: url("feuer-himmel.jpg");
    color: #FFF;
    margin: 0;
}

a {
	text-decoration: none;
	font-family: 'Cutive Mono', monospace;
	font-style: normal;
	font-weight: 500;
	font-size: 10pt;
	z-index: 10;
	color: #FFF;
}

a:hover {
     font-weight: bold;
}

div {
	font-size: 0.6875em;
	font-family: 'Cutive Mono', monospace;
	padding-top: 2.5%;
	padding-left: 0.5%;
}